@use '../../styles/mixin/mixins' as mixins;
@use '../../styles/variables/variables' as var;
@use '../../styles/placeholder/placeholders' as *;

.main {
    margin-top: 185px;
}

.advantegesContainer {
    @include mixins.container;
    @include mixins.flexContainer(center, center, column);
    margin-bottom: 150px;

    @media screen and (max-width: 1100px) {
        margin-bottom: 50px;
    }
}

.advantegesContent {
    max-width: 708px;
    text-align: center;
    margin-bottom: 54px;
}

.advantegesTitle {
    @include mixins.typography(16, 500);
    @extend %gradient-text;
    margin-bottom: 12px;

    @media screen and (max-width: 970px) {
        @include mixins.typography(16, 500);
    }

    @media screen and (max-width: 1200px) {
        @include mixins.typography(14, 500);
        margin-bottom: 10px;
    }
}

.advantegesText {
    @include mixins.typography(48, 600, 58);
    letter-spacing: -0.24px;
    margin-bottom: 12px;

    @media screen and (max-width: 970px) {
        @include mixins.typography(48, 600, 58);
    }

    @media screen and (max-width: 1200px) {
        @include mixins.typography(40, 600, 58);
        margin-bottom: 10px;
    }
}

.chooseBase {
    flex-direction: row-reverse;
}

.chooseVideo {
    right: 0;
}