@use '../../../styles/mixin/mixins' as mixins;
@use '../../../styles/placeholder/placeholders' as *;
@use '../../../styles/variables/variables' as var;

.base {
    position: relative;
    z-index: 2;
    right: 10px;
    top: 15px;

    @media screen and (max-width: 1226px) {
        width: 100%;
        right: 0;
    }
}

.container {
    max-width: 636px;

    @media screen and (max-width: 1226px) {
        margin: 0 auto;
        max-width: 800px;
    }
}

.customPaging {
    text-align: center;

    li {
        @include mixins.flexContainer;
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: inline-flex;
    }
}

.block {
    @include mixins.flexContainer;
    width: 100%;
    height: 100%;
}

.illumination {
    @extend %illumination;
    position: absolute;
    z-index: -1;
    top: -20px;
    left: 0px;
    width: 100%;
    max-width: 354px;
    height: 458px;

    @media screen and (max-width: 750px) {
        top: 150px;
        left: 30px;
    }
}

.dote {
    width: 9px;
    height: 3px;
    border-radius: 32px;
    background: var.$bg-light-grey;
    position: relative;
    transition: all .2s;

    &__active {
        background: #FFF;
        width: 17px;
    }
}

.containerTitle {
    @include mixins.typography(28, 600);
    letter-spacing: -0.14px;
    margin-bottom: 32px;
}

.bg {
    @include mixins.flexContainer(space-around, flex-end);
    position: relative;
    max-width: 100%;
    height: 425px;
    box-sizing: border-box;
    padding: 0 24px 24px 24px;

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }
}

.cardContent {
    text-align: start;
    max-width: 450px;
    position: relative;
}

.cardTitle {
    @include mixins.typography(14);
    display: inline-block;
    text-align: center;
    border-radius: 16px;
    padding: 2px 10px;
    background: var.$bg-light-grey;
    margin-bottom: 5px;

    @media screen and (max-width: 650px) {
        @include mixins.typography(12, 500);
    }
}

.cardDescription {
    @include mixins.typography(32, 600);
    letter-spacing: -0.16px;

    @media screen and (max-width: 650px) {
        @include mixins.typography(28, 500);
    }
}

.cardButton {
    @include mixins.flexContainer;
    @include mixins.border-image;
    position: relative;
    background: transparent;
    cursor: pointer;
    padding: 16px;
    transform: scale(1);
    transition: transform .2s filter .3s;

    &:hover,
    img {
        transform: scale(1.1);

    }

    &_active {
        animation: scale-out-ver-top 1s;
    }
}

@keyframes scale-out-ver-top {
    0% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(200%);
    }

    80% {
        filter: brightness(300%);
    }

    100% {
        filter: brightness(100%);
    }
}