html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(24, 24, 27, 1);
    color: #fff;
    font-size: 20px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

h4,
h3,
h2 {
    margin: 0;
}

a {
    text-decoration: none;
}