@use '../styles/mixin/mixins' as *;
@use '../styles/variables/variables' as *;
@use '../styles/placeholder/placeholders' as *;
@use "sass:map";

.home {
    margin-top: 185px;

    @media screen and (max-width: 950px) {
        overflow: hidden;
    }
}

.about {
    @include container;
    @include flexContainer(space-between, flex-end);
    margin-top: 120px;
    margin-bottom: 153px;

    @media screen and (max-width: 1200px) {
        align-items: center;
    }

    &_bg {
        width: 100%;
        max-width: 608px;
        height: 622px;
        position: relative;

        @media screen and (max-width: 1200px) {
            margin-bottom: 55px;
            align-items: center;
        }
    }

    &_img {
        width: 100%;
        max-width: 540px;
        height: 622px;
        background-image: url('../../public/bg/about-hero.png'), url('../../public/bg/about-bg.png');
        background-position: right bottom, left bottom;
        background-repeat: no-repeat;
        background-size: contain, 400px 500px;
    }

    &_illumination {
        @extend %illumination;
        position: absolute;
        z-index: 1;
        top: 100px;
        left: 80px;
        width: 100%;
        max-width: 354px;
        height: 508px;

        @media screen and (max-width: 450px) {
            top: 150px;
            left: 30px;
        }
    }

    &_video {
        position: absolute;
        bottom: -23px;
        right: 110px;
    }

    &_description {
        max-width: 562px;

        @media screen and (max-width: 1120px) {
            max-width: 462px;
        }

        @media screen and (max-width: 970px) {
            max-width: 562px;
        }

    }

    &_title {
        @include typography(16, 500);
        @extend %gradient-text;
        margin-bottom: 12px;

        @media screen and (max-width: 1200px) {
            @include typography(14, 500);
            margin-bottom: 10px;
        }

        @media screen and (max-width: 970px) {
            @include typography(16, 500);
        }

    }

    &_subtitle {
        @include typography(48, 600, 58);
        letter-spacing: -0.24px;
        margin-bottom: 12px;

        @media screen and (max-width: 1200px) {
            @include typography(40, 600, 58);
            margin-bottom: 10px;
        }

        @media screen and (max-width: 970px) {
            @include typography(48, 600, 58);
        }
    }

    &_text {
        @include typography(16, 300, 28);
        color: $text-color;

        @media screen and (max-width: 1200px) {
            @include typography(14, 300, 28);
            color: $text-color;
        }

        @media screen and (max-width: 970px) {
            @include typography(16, 300, 28);
            color: $text-color;
        }
    }

    &_services {
        margin-top: 24px;
    }

    &_serviceText {
        @include typography(16, 400, 28);
    }

    &_service {
        @include flexContainer(flex-start);

        img {
            margin-right: 12px;
        }

        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }

    &_button {
        @include typography(14, 700, 14);
        @extend %button;
        margin-top: 32px;
    }

    @media screen and (max-width: 970px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.error {
    @include container;

    &_container {
        @include flexContainer;
        width: 100%;
        height: 500px;
    }

    &_title {
        color: red;
        margin-right: 10px;
    }

    &_subtitle {
        color: red;
    }
}

.services {
    @include container;
    position: relative;
    margin-bottom: 187px;
    margin-top: 150px;
}

.choose {
    @include container;
    @include flexContainer(space-between, center);
    margin-bottom: 187px;

    @media screen and (max-width: 1100px) {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    &_bg {
        width: 100%;
        max-width: 608px;
        height: 622px;
        position: relative;
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: 1200px) {
            margin-bottom: 55px;
            align-items: center;
        }
    }

    &_img {
        width: 100%;
        max-width: 540px;
        height: 622px;
        background-image: url('../../public/bg/choose-hero.png'), url('../../public/bg/about-bg.png');
        background-position: right bottom, 50px bottom;
        background-repeat: no-repeat;
        background-size: contain, 400px 458px;
    }

    &_illumination {
        @extend %illumination;
        position: absolute;
        z-index: 1;
        top: 100px;
        right: 140px;
        width: 100%;
        max-width: 304px;
        height: 508px;

        @media screen and (max-width: 450px) {
            top: 150px;
            left: 30px;
        }
    }

    &_video {
        position: absolute;
        bottom: -23px;
        right: 60px;
    }

    &_description {
        max-width: 506px;

        @media screen and (max-width: 1100px) {
            width: 100%;
            max-width: 100%;
        }
    }

    &_title {
        @include typography(16, 500);
        @extend %gradient-text;
        margin-bottom: 12px;

        @media screen and (max-width: 1200px) {
            @include typography(14, 500);
            margin-bottom: 10px;
        }

        @media screen and (max-width: 970px) {
            @include typography(16, 500);
        }
    }

    &_subtitle {
        @include typography(48, 600, 58);
        letter-spacing: -0.24px;
        margin-bottom: 12px;

        @media screen and (max-width: 1200px) {
            @include typography(40, 600, 58);
            margin-bottom: 10px;
        }

        @media screen and (max-width: 970px) {
            @include typography(48, 600, 58);
        }

    }
}

.video {
    @include container;
    position: relative;
    margin-bottom: 80px;

    &_container {
        @include flexContainer(center, center, column);
    }

    &_titleBlock {
        position: relative;
        max-width: 709px;
        text-align: center;
        margin-bottom: 48px;

        @media screen and (max-width: 1200px) {
            max-width: 509px;
        }

        @media screen and (max-width: 600px) {
            max-width: 309px;
        }
    }

    &_title {
        @include typography(16, 500);
        @extend %gradient-text;
        margin-bottom: 12px;

        @media screen and (max-width: 1200px) {
            @include typography(14, 500);
            margin-bottom: 10px;
        }
    }

    &_description {
        @include typography(48, 600, 58);
        letter-spacing: -0.24px;
        margin-bottom: 12px;

        @media screen and (max-width: 1200px) {
            @include typography(40, 600, 58);
            margin-bottom: 10px;
        }

        @media screen and (max-width: 970px) {
            @include typography(40, 600, 58);
        }

        @media screen and (max-width: 600px) {
            @include typography(24, 400, 34);
        }

    }

    &_illumination {
        @extend %illumination;
        position: absolute;
        z-index: 1;
        top: -50px;
        left: -150px;
        width: 100%;
        max-width: 199px;
        height: 450px;
    }

    &_headerBlock {
        max-width: 299px;
        text-align: start;
        background-color: transparent;
    }

    &_header {
        @include typography(14, 500, 14);

        @media screen and (max-width: 970px) {
            @include typography(12, 500);
        }

        @media screen and (max-width: 600px) {
            @include typography(10, 500);
        }
    }

    &_text {
        @include typography(36, 500, 44);

        @media screen and (max-width: 970px) {
            @include typography(28, 400, 24);
        }

        @media screen and (max-width: 600px) {
            @include typography(18, 400, 14);
        }
    }

    &_button {
        @include typography(14, 700, 14);
        @extend %button;
        margin-top: 32px;
    }

    &_clip {
        border: 2px solid transparent;
        border-radius: 10px 10px 0 0;

        &>button {
            width: 90px;
            height: 90px;
        }

        @media screen and (max-width: 740px) {
            &>button {
                width: 60px;
                height: 60px;
            }
        }

    }

    &_play {
        background: url('../../public/common/controllers/100x100/play.png') no-repeat center / contain;
    }

    &_pause {
        background: url('../../public/common/controllers/100x100/pause.png') no-repeat center / contain;
    }

    &_replay {
        background: url('../../public/common/controllers/100x100/replay.png') no-repeat center / contain;
    }
}

.testimonials {
    position: relative;
    width: 100%;
    height: 1247px;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 80px;
}

.pricing {
    @include container;
    padding-bottom: 198px;
}

.partners {
    @include container;
    max-width: #{$partner-width-container}px;
    position: relative;
    height: 1055px;
    overflow: hidden;

    @media screen and (max-width: 950px) {
        height: 950px;
    }

    @media screen and (max-width: 780px) {
        height: 790px;
    }

    @media screen and (max-width: 650px) {
        height: 680px;
    }

    @media screen and (max-width: 500px) {
        height: 520px;
    }
}

.articles {
    @include container;
    position: relative;
    margin-bottom: 150px;
}

.subscribe {
    @include container;
    margin-bottom: 67px;
}