@use '../../styles/mixin/mixins' as *;

.base {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.container {
    @include container;
    @include flexContainer;
}

.column,
.column_nav {
    flex: 1;
}

.iconBlock {
    display: none;

    @include media(tablet) {
        @include flexContainer;
        position: relative;
        z-index: 10;
        width: 45px;
        height: 45px;
        cursor: pointer;
        border: 1px solid;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: linear-gradient(to left, #E95CE9, #0CBAF1);
        text-align: right;
        opacity: .7;
        transition: opacity .3s;
        margin-left: 9px;
    }
}

.icon {
    $base-width: 10px;
    @include flexContainer(center, flex-end, column);

    &>div {
        height: 3px;
        background: rgba(255, 255, 255, 1);
        margin: 3px 0;
        transition: all .6s;
    }

    @for $i from 1 through 3 {
        & :nth-child(4n - #{$i}) {
            width: $base-width * $i;
        }
    }
}

.bar1 {
    .base_show & {
        margin: 2px 0;
        transform: translate(0, 10px) rotate(-45deg);
    }
}

.bar2 {
    .base_show & {
        opacity: 0;
    }
}

.bar3 {
    .base_show & {
        width: 30px;
        margin: 4px 0;
        transform: translate(0, -8px) rotate(45deg);
    }
}

.column_nav {
    position: relative;

    @include media(tablet) {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(80, 78, 78, .9);
        transition: width .4s ease-in-out;

        .base_show & {
            width: 100%;
        }
    }
}

.nav {
    @include flexContainer;

    @include media(tablet) {
        position: absolute;
        transform: translateX(-100%)
    }
}

.links {
    @include flexContainer;
    position: relative;

    @include media(tablet) {
        @include flexContainer(center, flex-start, column);
        top: 60px;
        left: 0;
        padding-left: 15px;
        transition: left .4s .1s ease-in-out;

        .base_show & {
            left: 100%
        }
    }
}

.item {
    margin-right: 65px;
    white-space: nowrap;

    a {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        color: rgb(255, 255, 255);
    }

    @include media(tablet) {
        a {
            font-size: 32px;
            font-weight: 500;
            line-height: 45px;
        }
    }
}

.link {
    opacity: .7;
    transition: opacity .3s;

    &:hover {
        opacity: 1;
    }
}

.buttonBlock {
    @include flexContainer(flex-end);
}

.button {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, #E95CE9, #0CBAF1);
    text-align: right;
    opacity: .7;
    transition: opacity .3s;

    &:hover {
        opacity: 1;
    }

    button {
        background: none;
        text-decoration: inherit;
        font-size: 1rem;
        padding: 14px 20px;
        border: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
}