@use '../../../styles/variables/variables' as var;
@use '../../../styles/mixin/mixins' as mixins;
@use '../../../styles/function/function' as function;
@use '../../../styles/placeholder/placeholders' as *;

.base {
    width: 100%;
    height: 100%;
    position: relative;
}

.titleBlock {
    text-align: center;
    margin-bottom: 58px;

    @media screen and (max-width: 900px) {
        margin-bottom: 0;
    }
}

.title {
    @include mixins.typography(16, 500);
    @extend %gradient-text;
    margin-bottom: 12px;

    @media screen and (max-width: 970px) {
        @include mixins.typography(14, 500);
    }

    @media screen and (max-width: 750px) {
        @include mixins.typography(12, 500);
    }
}

.subtitle {
    @include mixins.typography(48, 600, 58);
    letter-spacing: -0.24px;

    @media screen and (max-width: 970px) {
        @include mixins.typography(40, 600, 58);
    }

    @media screen and (max-width: 750px) {
        @include mixins.typography(24, 500);
    }
}

.circleBlock {
    @include mixins.flexContainer;
    width: 100%;
    height: 100%;
    position: relative;
}

.block {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(24, 24, 27, 1);
    z-index: 10;
}

.hafCircle {
    @extend %circle;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, .17);
    border-radius: 50%;
    box-sizing: border-box;
}

.partner {
    @include mixins.flexContainer;
    @extend %partner;
    position: absolute;
    width: function.get-size-block(148.5, var.$partner-width-container);
    height: function.get-size-block(148.5, var.$partner-width-container);
    z-index: 20;
    background-color: rgba(37, 37, 50, .80);
    border-radius: 50%;

    img {
        width: calc(100% - 10px);
        object-fit: contain;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 1px;
        background: linear-gradient(90deg, #4a4949 0%, #FFFFFF00 100%);
        mask:
            linear-gradient(#FFFFFF 0 0) content-box,
            linear-gradient(#FFFFFF 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude
    }
}

.hero {
    position: absolute;
    background: url('../../../../public/partners/hero.png') no-repeat center / contain;
    width: function.get-size-block(705, var.$partner-width-container);
    height: 555px;
    z-index: 20;
    margin-left: 35px;

    @media screen and (max-width: 650px) {
        margin-left: 15px;
    }
}