@use '../../../styles/mixin/mixins' as mixins;
@use '../../../styles/variables/variables' as var;
@use '../../../styles/placeholder/placeholders' as *;
@use "sass:map";

.about {
    @include mixins.container;
    @include mixins.flexContainer(space-between, flex-end);
    margin-top: 120px;
    margin-bottom: 153px;

    @media screen and (max-width: 1200px) {
        align-items: center;
    }

    @media screen and (max-width: 970px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.bg {
    width: 100%;
    max-width: 608px;
    height: 622px;
    position: relative;

    @media screen and (max-width: 1200px) {
        margin-bottom: 55px;
        align-items: center;
    }
}

.hero {
    width: 100%;
    max-width: 540px;
    height: 622px;
    background-image: url('../../../../public/bg/about-hero.png'), url('../../../../public/bg/about-bg.png');
    background-position: right bottom, left bottom;
    background-repeat: no-repeat;
    background-size: contain, 400px 500px;
}

.illumination {
    @extend %illumination;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 80px;
    width: 100%;
    max-width: 354px;
    height: 508px;

    @media screen and (max-width: 450px) {
        top: 150px;
        left: 30px;
    }
}

.video {
    position: absolute;
    bottom: -23px;
    right: 110px;
}

.description {
    max-width: 562px;

    @media screen and (max-width: 1120px) {
        max-width: 462px;
    }

    @media screen and (max-width: 970px) {
        max-width: 562px;
    }

}

.title {
    @include mixins.typography(16, 500);
    @extend %gradient-text;
    margin-bottom: 12px;

    @media screen and (max-width: 1200px) {
        @include mixins.typography(14, 500);
        margin-bottom: 10px;
    }

    @media screen and (max-width: 970px) {
        @include mixins.typography(16, 500);
    }

}

.subtitle {
    @include mixins.typography(48, 600, 58);
    letter-spacing: -0.24px;
    margin-bottom: 12px;

    @media screen and (max-width: 1200px) {
        @include mixins.typography(40, 600, 58);
        margin-bottom: 10px;
    }

    @media screen and (max-width: 970px) {
        @include mixins.typography(48, 600, 58);
    }
}

.text {
    @include mixins.typography(16, 300, 28);
    color: var.$text-color;

    @media screen and (max-width: 1200px) {
        @include mixins.typography(14, 300, 28);
        color: var.$text-color;
    }

    @media screen and (max-width: 970px) {
        @include mixins.typography(16, 300, 28);
        color: var.$text-color;
    }
}

.services {
    margin-top: 24px;

    .about_startAnimation & {
        @for $i from 1 through 3 {
            .service:nth-child(#{$i}) {
                img {
                    opacity: 0;
                    animation: bounce-in-top 1s both;
                    animation-delay: map.get(var.$checkbox-delay, $i);
                }
            }
        }

    }

}

.serviceText {
    @include mixins.typography(16, 400, 28);
}

.service {
    @include mixins.flexContainer(flex-start);

    img {
        margin-right: 12px;
    }

    &:not(:last-child) {
        margin-bottom: 14px;
    }
}

.button {
    @include mixins.typography(14, 700, 14);
    @extend %button;
    margin-top: 32px;
}


@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}